{% extends 'base.html.twig' %}

{% block title %}Test math{% endblock %}

{% block body %}
    <section>
        <!-- affichage de variable definie dans le retour du controller -->
        {{ nbr }}
    </section>
{% endblock %}